html
head
   title daftar_hutang
   body
      form(action = "/daftar_hutang", method = "POST")
      div
         label(for = "NO") NO: 
         input(NO = "NO")
      br
      div
         label(for = "ID_S") NAMA_SUPLIER: 
         input(name = "NAMA_SUPLIER")
      br
	  div
         label(for = "HUTANG") HUTANG: 
         input(name = "HUTANG")
      br
      button(type = "submit") SAVE