html
head
   title suplier
   body
      form(action = "/suplier", method = "POST")
      div
         label(for = "ID_S") ID_S: 
         input(ID_S = "ID_S")
      br
      div
         label(for = "NAMA_SUPLIER") NAMA_SUPLIER: 
         input(name = "NAMA_SUPLIER")
      br
      div
         label(for = "ALAMAT") ALAMAT: 
         input(name = "ALAMAT")
      br
      button(type = "submit") SAVE